{% extends 'base.html' %}
{% block title %}Services{% endblock title %}

{% block body %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Scheme Name</th>
							<th>Asset Type</th>
							<th>Folio No</th>
							<th>Investment Date</th>
							<th>Purchase Nav</th>
							<th>Units</th>
							<th>Purchase Value </th>
							<th>Description</th>
						</tr>
						{% for i in products%}
						<tr>
						<td>{{ i.scheme_name}}</td>
						<td>{{ i.asset_type}}</td>
						<td>{{ i.folio_No}}</td>
						<td>{{ i.investment_date}}</td>
						<td>{{ i.purchase_nav}}</td>
						<td>{{ i.units}}</td>
						<td>{{ i.purchase_value}}</td>
						<td>{{ i.description}}</td>
						</tr>
						{% endfor%}

					</table>
				</div>
			</div>

		</div>
{% endblock body %}